


body {
    /* background: #f0f6ff; */
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}


.navbar-container {
    display: flex;
    margin-left: 70px;
    margin-top: 40px;
}

nav > div > img {
    width: 100px;
}


.list {
    display: flex;
    list-style: none;
}


.list-item {
    margin-top: -5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 500;
    cursor: pointer;
    color: #aba8a8;
}

/* .list-item:active {
    color: #000000;
} */

.list-item:nth-child(1)  {
    color: #000000;
    font-weight: bold;
}

.nav-button {
    background-color: #5f4db8;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    border: 0;
    margin-left: 75px;
    margin-top: 50px;
    cursor: pointer;

}


.button-group > .nav-button {
    margin-left: 450px;
    margin-top: 5px;
}


.btn {
    padding: 15px 30px;
    font-size: 15px;
}


.heading-text {
    float: left;
    font-size: 60px;
    margin-left: 70px;
    margin-right: 800px;
    text-align: left;
    line-height: 70px;
    margin-top: 50px;
    position: relative;

}

.description {
    position: absolute;
    text-align: left;
    margin-left: 80px;
    margin-right: 800px;
    margin-top: -30px;
}


.img {
    float: right;
    margin-right: -5px;
    margin-top: -380px;
}

.img > img {
    width: 750px;
    height: 450px;
}


